@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(reset.css);

:root
{
	--bg-color: 212, 15%, 90%;
	--bg-color-dark: 240, 100%, 3%;
	--text-color: 0, 0%, 8%;
	--text-color-dark: 212, 15%, 90%;
	--accent-color: #ffa800;
	--button-transition-time: 1000ms;
	--button-transition-function: cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

/* @media (prefers-color-scheme:dark)
{
	:root
	{
		--bg-color: 240, 100%, 3%;
		--text-color: 212, 15%, 90%;
	}
} */

.light
{
	--bg-color: 212, 15%, 90%;
	--text-color: 0, 0%, 8%;
}

.dark
{
	--bg-color: 240, 100%, 3%;
	--text-color: 212, 15%, 90%;
}

body
{
	background-color: hsl(var(--bg-color));
	background-image: linear-gradient(to left, hsla(var(--bg-color), 0) 10%, hsla(var(--bg-color), 1)), url("../assets/images/noise.png");
	/* filter: url("#noiseFilter"); */
	color: hsl(var(--text-color));
	transition: background-color var(--button-transition-time) var(--button-transition-function),
		color var(--button-transition-time) var(--button-transition-function);
	overflow-x: hidden;
}

svg>rect
{
	fill: hsl(var(--text-color));
	transition: fill var(--button-transition-time) var(--button-transition-function);
}

strong
{
	color: var(--accent-color);
}
